*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #e8e8e8;
}
.menu{
    background: #4267b2;
    margin: 0 auto;
}
.menu li{
    list-style: none;
    display: inline-block;
    text-align: center;
}

.menu li a{
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    display: block;
    margin-left: 30px;
    padding: 20px;
}

.menu li a:hover{
    background: #ef8354;
}

.galeria{
    background:#ACABA9;
    width: 100%;
}
.galeria img{
    vertical-align: top;
    width: 300px;
    margin: 20px;
    padding: 5px;
    opacity: 0.5;
    border: 1px solid #484848;
}

.galeria img:hover{
    border: 1px solid #fff;
    opacity: 1;
}
.footer
{
    background: #1E68BF;
    padding: 20px;
    text-align: center;
}
.footer span{
    color: #fff;
    text-transform: uppercase;
  
}